/* Fonts Link Start */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Fonts Link End */

/* Universal Start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f59305;
  --secondary-color: #36bd64;
  --black: #000000;
  --white: #ffffff;
  --primary-font: "Righteous";
  --secondary-font: "Raleway";
  --primary-border: 1px solid #36bd64;
  --secondary-border: 1px solid #f59305;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
}

p {
  font-family: var(--secondary-font);
}

/* Universal End */

/* Hero  Start */
#blog_hero {
  background: url(../image/blog_all_image/blog_image_01.png);
  width: 100%;
  height: 55vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog_hero_heading {
  padding-top: 20vh;
}

.blog_hero_heading h1 {
  font-size: 50px;
  color: var(--white);
}

.blog_hero_heading p {
  font-size: 16px;
  color: var(--white);
}

@media screen and (max-width: 992px) {
  .blog_hero_heading h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 778px) {
  .blog_hero_heading h1 {
    font-size: 30px;
  }
  .blog_hero_heading p {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .blog_hero_heading h1 {
    font-size: 22px;
  }
  .blog_hero_heading p {
    font-size: 12px;
  }
}
/* Hero  End */

/* Page Information Start  */
.page_information {
  padding: 20px 0 50px 0;
}

.page_information_content a {
  color: var(--black);
  font-weight: 500;
  font-family: var(--secondary-font);
  font-size: 20px;
}

.page_information_content a:nth-child(2) {
  margin-left: 3px;
}

.page_information_content a:nth-child(3) {
  margin-left: 3px;
}

.page_information_content a:nth-child(2) svg {
  width: 10px !important;
}
/* Page Information End */

/* Blog Content Start */
#blog_content {
  padding: 0 0 50px 0;
}

.blog_content_main_heading h1 {
  font-size: 40px;
  padding-bottom: 15px;
}

.blog_content_main_items {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-bottom: 30px;
}

.blog_content_main_items_list {
  display: flex;
  gap: 10px;
}

.blog_content_main_items_list span {
  color: #a3a3a3;
  font-size: 16px;
}

.blog_content_image img {
  width: 100%;
  padding-bottom: 30px;
}

.blog_content_main_items_text p {
  font-size: 16px;
  color: var(--black);
  font-weight: 500;
  padding-bottom: 30px;
}

.blog_content_main_items_btn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.blog_content_main_items_btn a {
  padding: 7px 30px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 500;
  transition: 0.5s;
  border-radius: 5px;
}

.blog_content_main_items_btn a:hover {
  background: var(--primary-color);
  color: var(--white);
}

@media screen and (max-width: 778px) {
  .blog_content_main_heading h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 575px) {
  .blog_content_main_heading h1 {
    font-size: 22px;
  }

  .blog_content_main_items {
    gap: 12px;
  }

  .blog_content_main_items_list {
    align-items: center;
  }

  .blog_content_main_items_list span {
    font-size: 12px;
  }

  .blog_content_main_items_list svg {
    width: 20px;
  }

  .blog_content_main_items_text p {
    font-size: 12px;
  }
}

.blog_content_input {
  display: flex;
  border: var(--primary-border);
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 100px;
}

.blog_content_input input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
}

.blog_content_input button svg {
  width: 20px;
}

.blog_content_input button {
  padding: 5px 15px;
  border: var(--secondary-border);
  background: var(--primary-color);
  border-radius: 5px;
}

.recently_blog_heading {
  display: flex;
  justify-content: start;
  align-items: center;
}

.recently_blog_heading h1 {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--secondary-color);
  font-size: 40px;
}

.recently_blog_wrapper_content_img img {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 20px;
}

.recently_blog_wrapper_content_heading {
  margin-top: 30px;
  padding-bottom: 30px;
}

.recently_blog_wrapper_content_heading h1 {
  font-size: 25px;
  transition: 0.5s;
  cursor: pointer;
}

.recently_blog_wrapper_content_heading h1:hover {
  color: var(--primary-color);
}

.recently_blog_tag_heading {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 30px;
}

.recently_blog_tag_heading h1 {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: var(--primary-border);
  font-size: 40px;
}

.recently_blog_tag {
  gap: 20px;
}

.recently_blog_tag a {
  display: inline-block;
  margin-top: 20px;
  padding: 7px 40px;
  background: #f9f4c9;
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  border: var(--primary-border);
}

.recently_blog_tag a:nth-child(2) {
  margin-left: 20px;
}
.recently_blog_tag a:nth-child(4) {
  margin-left: 20px;
}

@media screen and (max-width: 1200px) {
  .recently_blog_tag a {
    display: block;
    text-align: center;
  }
  .recently_blog_tag a:nth-child(2) {
    margin-left: 0px;
  }
  .recently_blog_tag a:nth-child(4) {
    margin-left: 0px;
  }
}

@media screen and (max-width: 575px) {
  .recently_blog_heading h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .blog_content_input {
    margin-bottom: 30px;
  }
}
.popular_product_wrapper_pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.pagenation_all_items {
  display: flex;
  gap: 20px;
}
.pagenation_all_items a {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 7px;
  transition: 0.3s;
  font-family: var(--primary-font);
}

.pagenation_all_items a:hover {
  background: var(--primary-color);
  color: var(--white);
}

.pagenation_all_items a:hover .fa-angle-left {
  color: #ffffff !important;
}

.pagenation_all_items a:hover .fa-angle-right {
  color: #ffffff !important;
}

.pagenation_all_items a i {
  font-size: 25px;
}

.pagenation_all_items a:nth-child(1) {
  border-radius: 50%;
}
.pagenation_all_items a:last-child {
  border-radius: 50%;
}
/* Blog Content End */
