/* Fonts Link Start */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Fonts Link End */

/* Universal Start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f59305;
  --secondary-color: #36bd64;
  --black: #000000;
  --white: #ffffff;
  --primary-font: "Righteous";
  --secondary-font: "Raleway";
  --primary-border: 1px solid #36bd64;
  --secondary-border: 1px solid #f59305;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
}

p {
  font-family: var(--secondary-font);
}

/* Universal End */

/* Hero  Start */
#hero {
  background: url(../image/home-hero-image/hero-image-01.png);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero_wrapper {
  display: flex;
}

.hero_product {
  width: 30%;
}

.hero_content {
  width: 70%;
}

.hero_product_btn {
  margin-top: 40px;
  display: block;
}

.hero_product_btn a {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--black);
  transition: 0.3s ease;
}

.hero_product_btn a:hover {
  background: var(--white);
}

.hero_content {
  margin-left: 40px;
  margin-top: 90px;
}

.hero_content_btn a {
  display: inline-block;
  padding: 10px 25px;
  background: var(--secondary-color);
  margin-bottom: 30px;
  border-radius: 50px;
  color: var(--white);
  font-size: 18px;
  font-family: var(--secondary-font);
}

.hero_content_text h1 {
  font-size: 50px;
  color: var(--white);
}

.hero_content_text p {
  font-size: 16px;
  font-family: var(--secondary-font);
  word-spacing: 3px;
  color: #000000;
  padding-bottom: 30px;
}

.hero_content_text a {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #f59305;
  background: rgba(255, 255, 255, 0.2);
  font-weight: 600;
  color: var(--white);
  transition: 0.3s ease;
}

.hero_content_text a:hover {
  background: var(--white);
  color: var(--black);
}

@media screen and (max-width: 1201px) {
  .hero_content_text h1 {
    font-size: 40px;
  }

  #hero {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .hero_product {
    display: none;
  }

  .hero_content {
    width: 100%;
  }

  .hero_content {
    margin-top: 50px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 501px) {
  .hero_content_text h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 991px) {
  #hero {
    height: 80vh;
  }
}
/* Hero  End */

/* Feature Start */
.feature_product_servies {
  margin-top: -100px;
}

.feature_product_servies_card {
  border: var(--primary-border);
  width: 100%;
  padding: 10px;
  background: var(--white);
  opacity: 0.9;
}

.feature_card_img svg {
  display: block;
  margin: auto;
  width: 60px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.feature_product_servies_card h1 {
  font-size: 20px !important;
  text-align: center;
}

/* Feature End */

/* Special Offers Stat */
#Special_offer {
  padding: 40px 0;
}

.special_offer_heading {
  margin-top: 30px;
  text-align: center;
  align-items: center;
}

.special_offer_heading h1 {
  font-size: 38px;
}

.special_offer_heading p {
  font-size: 16px;
  font-family: var(--secondary-font);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Special_offer_wrapper {
  position: relative;
  height: 100%;
}

.special-offer_img img {
  max-width: 100%;
}

.card_slider {
  padding: 50px 25px;
}

.swiper-button-next {
  left: 96%;
}

.swiper-button-next::after {
  width: 45px;
  height: 45px;
  background: var(--white);
  position: absolute;
  border: var(--secondary-border);
  top: 20px;
  border-radius: 50px;
  font-size: 25px !important;
  padding: 0 !important;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  transition: 0.5s ease;
}

.swiper-button-prev {
  right: -66% !important;
}

.swiper-button-prev::after {
  width: 45px;
  height: 45px;
  background: var(--white);
  position: absolute;
  border: var(--secondary-border);
  top: 20px;
  border-radius: 50px;
  font-size: 25px !important;
  padding: 0 !important;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  transition: 0.5s ease;
}

.special-offer-card {
  background: var(--white);
  width: 100%;
  height: 100%;
  position: relative;
  border: var(--primary-border);
  padding: 20px;
  transition: 0.5s ease;
}
.special_offer_overlay,
.special-offer-card:hover {
  border: 1px solid #fff;
}

.special_offer_imgs {
  position: absolute;
  top: 20px;
  left: 0;
}

.special_offer_imgs h1 {
  padding: 7px 10px;
  background: var(--secondary-color);
  font-size: 14px;
  color: var(--white);
}

.special_offer_img img {
  width: 140px;
  display: block;
  margin: auto;
  padding-bottom: 30px;
}

.special-offer-card_text h1 {
  font-size: 20px;
  margin-top: 15px;
  padding-bottom: 20px;
}

.special_offer_overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  opacity: 0;
  padding-top: 27vh;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.special_offer_overlay a {
  display: block;
  width: 160px;
  height: 40px;
  background: var(--primary-color);
  color: var(--white);
  margin: auto;
  padding-top: 5px;
  font-size: 16px;
  border: var(--secondary-border);
  border-radius: 5px;
  font-family: var(--primary-font);
  transition: 0.3s ease;
}

.special_offer_overlay a:nth-child(2) {
  margin-top: 10px !important;
}

.special_offer_overlay:hover {
  opacity: 1;
}

.special_offer_overlay a:hover {
  background: rgba(209, 124, 0, 1);
  color: var(--white);
  border: 1px solid rgba(209, 124, 0, 1);
}
.special-offer-card_btn a {
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-weight: 500;
  display: inline-block;
  margin-bottom: 20px;
}

.special-offer-card_btn p {
  font-size: 15px;
}

@media screen and (max-width: 991px) {
  .card_slider {
    padding: auto;
  }
  .swiper-button-next {
    left: 95%;
  }
}

@media screen and (max-width: 767px) {
  .card_slider {
    padding: 50px 20px;
  }
  .swiper-button-next {
    left: 93%;
  }
}

@media screen and (max-width: 575px) {
  .special_offer_heading h1 {
    font-size: 30px;
  }

  .special_offer_heading h1 span:nth-child(2) {
    font-size: 22px !important;
  }
}

/* Special Offers End */

/* Popular Products Start */
#popular_product {
  padding: 10px 0 90px 0;
}

.popular_product_heading h1 {
  display: inline-block;
  border-bottom: 2px solid var(--secondary-color);
  font-size: 35px;
  padding-bottom: 5px;
}

.popular_product_btn {
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
}

.popular_product_btn a {
  display: inline-block;
  padding: 5px 20px;
  font-size: 18px;
  border: var(--secondary-border);
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.popular_product_wrapper:nth-child(1) {
  margin-top: 80px !important;
}

.popular_product_card_wrapper {
  border: var(--primary-border);
  width: 100%;
  padding: 25px;
  aspect-ratio: 2/1;
  position: relative;
  background: #ffffff;
}

.popular_product_card_img {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular_product_card_img img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px !important;
  height: 160px;
  text-align: center;
}

.popular_product_card_rating {
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 15px;
}

.popular_product_card_text {
  text-align: center;
  width: 100%;
}

.popular_product_card_text h1 {
  font-size: 20px;
  padding-bottom: 15px;
  height: 60px;
}

.popular_product_card_text p {
  font-size: 20px;
  font-family: var(--primary-font) !important;
  color: var(--primary-color);
  padding-bottom: 15px;
}

.popular_product_card_text a {
  font-size: 16px;
  color: var(--secondary-color);
}

.popular_product_card_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 0;
  opacity: 0;
  margin: auto;
  display: inline-block;
  padding-top: 20px;
  transition: 0.3s ease;
  overflow: hidden;
}

.popular_product_card_overlay a {
  display: block;
  width: 160px;
  height: 40px;
  background: var(--primary-color);
  padding-top: 6px;
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 16px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

.popular_product_card_overlay a:hover {
  background: rgba(209, 124, 0, 1);
}

.popular_product_card_overlay a:nth-child(2) {
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.popular_product_card_wrapper:hover .popular_product_card_overlay {
  height: 30%;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .popular_product_heading h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 576px) {
  .popular_product_heading h1 {
    font-size: 16px;
  }
  .popular_product_btn a {
    font-size: 14px;
  }
}
/* Popular Products End */

/* Best Sellers Start  */
#best_seller {
  padding: 20px 0 30px 0;
}

.best_seller_heading h1 {
  display: inline-block;
  border-bottom: 2px solid var(--secondary-color);
  font-size: 35px;
  padding-bottom: 5px;
}

.best_seller_btn {
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
}

.best_seller_btn a {
  display: inline-block;
  padding: 5px 20px;
  font-size: 18px;
  border: var(--secondary-border);
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.best_seller_wrapper:nth-child(1) {
  margin-top: 80px !important;
}

.best_seller_card_wrapper {
  border: var(--primary-border);
  width: 100%;
  padding: 25px;
  aspect-ratio: 2/1;
  position: relative;
  background: #ffffff;
}

.best_seller_card_img {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best_seller_card_img img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px !important;
  height: 160px;
  text-align: center;
}

.best_seller_card_rating {
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 15px;
}

.best_seller_card_text {
  text-align: center;
  width: 100%;
}

.best_seller_card_text h1 {
  font-size: 20px;
  padding-bottom: 15px;
  height: 60px;
}

.best_seller_card_text p {
  font-size: 20px;
  font-family: var(--primary-font) !important;
  color: var(--primary-color);
  padding-bottom: 15px;
}

.best_seller_card_text a {
  font-size: 16px;
  color: var(--secondary-color);
}

.best_seller_card_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 0;
  opacity: 0;
  margin: auto;
  display: inline-block;
  padding-top: 20px;
  transition: 0.3s ease;
  overflow: hidden;
}

.best_seller_card_overlay a {
  display: block;
  width: 160px;
  height: 40px;
  background: var(--primary-color);
  padding-top: 6px;
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 16px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

.best_seller_card_overlay a:hover {
  background: rgba(209, 124, 0, 1);
}

.best_seller_card_overlay a:nth-child(2) {
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.best_seller_card_wrapper:hover .best_seller_card_overlay {
  height: 30%;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .best_seller_heading h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 576px) {
  .best_seller_heading h1 {
    font-size: 16px;
  }
  .best_seller_btn a {
    font-size: 14px;
  }
}
/* Best Sellers End */
