/* Fonts Link Start */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Fonts Link End */

/* Universal Start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f59305;
  --secondary-color: #36bd64;
  --black: #000000;
  --white: #ffffff;
  --primary-font: "Righteous";
  --secondary-font: "Raleway";
  --primary-border: 1px solid #36bd64;
  --secondary-border: 1px solid #f59305;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
}

p {
  font-family: var(--secondary-font);
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Universal End */

/* Go-Back Start */
#progress {
  /* background: #36d444; */
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 50px;
  height: 50px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.progress-value {
  display: block;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #36d444;
}
/* Go-Back End */

/* Topbar Start */
#topbar {
  background: var(--primary-color);
  padding: 10px 0;
}

.topbar_timeline {
  display: flex;
  justify-content: space-evenly;
}

.topbar_time h3 {
  font-size: 20px;
  color: var(--white);
  margin-top: 7px;
}

.topbar_date p {
  font-size: 16px;
  margin: 0;
  color: var(--white);
}

.topbar_section_items {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  justify-content: end;
}

.topbar_section_items p {
  font-size: 16px;
  color: var(--white);
  display: inline-block;

  border-right: var(--primary-border);
  padding-right: 10px;
}

.topbar_section_items form select {
  border: none !important;
  background: none;
  color: var(--white);
  outline: none;
  font-size: 16px;
  font-family: var(--secondary-font);
}

.topbar_section_items form select option {
  color: var(--black);
  font-size: 16px;
  font-family: var(--secondary-font);
}

@media screen and (max-width: 992px) {
  .topbar_section_items p {
    font-size: 12px;
    margin-top: 3px;
    padding-right: 5px;
  }

  .topbar_section_items form select {
    font-size: 13px;
  }

  .topbar_timeline {
    justify-content: space-between;
    display: flex;
  }

  .topbar_time h3 {
    font-size: 15px;
  }

  .topbar_date p {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .topbar_section_items {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .topbar_section_items p {
    padding-right: 10px;
    font-size: 14px;
  }

  .topbar_timeline {
    justify-content: space-between;
    display: flex;
  }

  .topbar_section_items form select {
    font-size: 14px;
  }

  .topbar_time h3 {
    font-size: 16px;
  }

  .topbar_date p {
    font-size: 14px;
  }
}

/* Topbar End */

/* Header Start */

#header {
  padding: 20px 0;
  border-bottom: var(--primary-border);
  width: calc(100% - 30px);
  margin: auto;
}

.header_logo img {
  width: 150px;
}

.header_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.from_search form {
  display: flex;
  align-items: center;
}

.from_search form input {
  border-right: none !important;
  border: var(--primary-border);
  padding: 4px 15px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-repeat: no-repeat;
  outline: none;
}

.from_search form button {
  border: 1px solid var(--secondary-color);
  border-top: none;
  border-bottom: none;
  outline: none;
  background: none;
  padding: 0 15px;
  height: 30px;
  border-radius: 6px;
  margin-left: -20px;
}

.from_search {
  width: 100%;
}

.from_search form button svg {
  width: 20px;
}

.header_address {
  display: block;
}

.header_address_call {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.header_address_call_text p {
  margin: 0;
  font-size: 16px;
}

.header_address_call_text a {
  color: var(--black);
  font-family: var(--secondary-font);
  font-size: 16px;
}

.header_menu {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.header_menu_items {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 45px;
  align-items: center;
  justify-content: center;
  border: var(--primary-border);
  background: var(--secondary-color);
}

@media screen and (max-width: 991px) {
  .header_address {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .header_logo img {
    display: none;
  }

  .header_form {
    margin-top: 10px;
  }
}

/* Header End */

/* Navbar Start */

.v-center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.navbar_side {
  margin-left: 400px !important;
}

.header {
  display: block;
  width: 100%;
  position: relative;
  z-index: 99;
  padding: 5px;
}

.menu_items_end {
  float: end;
}
.header .item-left {
  flex: 0 0 0%;
}
.header .logo a img {
  width: 100px;
  text-decoration: none;
}
.header .item-center {
  flex: 0 0 100%;
}
.header .item-right {
  flex: 0 0 0%;
  display: flex;
  justify-content: flex-end;
}
.header .item-right a {
  text-decoration: none;
  font-size: 16px;
  color: #555555;
  display: inline-block;
  /* margin-left: 10px; */
  transition: color 0.3s ease;
}
.header .menu > ul > li {
  display: inline-block;
  line-height: 50px;
}

.header .menu > ul > li:nth-child(3) {
  margin-left: 55px !important;
}

.header .menu > ul > li:nth-child(4) {
  margin-left: 55px !important;
}

.header .menu > ul > li:nth-child(5) {
  margin-left: 55px !important;
}

.header .menu > ul > li:nth-child(6) {
  margin-left: 55px !important;
}

.header .menu > ul {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.header .menu > ul > li > a {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  position: relative;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.header .menu > ul > li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #ffffff;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  transition: all 0.5s ease;
  margin-top: 25px;
  outline-offset: -15px;
  outline: var(--primary-border);
  opacity: 0;
  visibility: hidden;
}

.menu_item-has_children_btn {
  border: var(--secondary-border) !important;
  padding: 7px 25px !important;
  background: var(--primary-color);
  line-height: 0 !important;
  border-radius: 3px;
  transition: 0.5s;
}

.menu_item-has_children_btn:hover {
  background: var(--white);
}

.menu_item-has_children_btn a {
  color: var(--white) !important;
  transition: 0.5s;
}

.menu_item-has_children_btn:hover.menu_item-has_children_btn a {
  color: var(--primary-color) !important;
}

.menu_item-has_children_btn a i {
  transition: 0.5s;
}

.menu_item-has_children_btn:hover.menu_item-has_children_btn a i {
  transform: rotate(180deg);
}

.list-item .title a {
  color: var(--black) !important;
  font-family: var(--secondary-font);
  transition: 0.5s;
}

.menu_item-has_children_btn:hover .list-item .title a {
  color: var(--black) !important;
}

@media (max-width: 1172px) {
  .header .menu > ul > li {
    display: inline-block;
    line-height: 50px;
  }

  .navbar_side {
    margin-left: 250px !important;
  }
}

@media (max-width: 1202px) {
  .header .menu > ul > li:nth-child(5) {
    margin-left: 30px !important;
  }

  .header .menu > ul > li:nth-child(6) {
    margin-left: 30px !important;
  }

  .navbar_side {
    margin-left: 250px !important;
  }
}

@media (max-width: 1082px) {
  .header .menu > ul > li {
    display: inline-block;
    line-height: 50px;
  }
  .navbar_side {
    margin-left: 220px !important;
  }
}

@media (min-width: 992px) {
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 5px;
    visibility: visible;
    opacity: 1;
  }
}

.header .menu > ul {
  display: block;
}
.header .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu {
  min-width: 280px;
  max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li {
  line-height: 1;
  display: block;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
  padding: 10px 0;
  display: inline-block;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
  flex: 0 0 25%;
  padding: 0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
  font-size: 16px;
  color: #ea4636;
  font-weight: 500;
  line-height: 1;
  padding: 10px 0;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title a {
  display: block;
  text-align: left;
  color: #000000;
}
.header
  .menu
  > ul
  > li
  .sub-menu.mega-menu-column-4
  > .list-item.text-center
  .title {
  text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a {
  color: #000000;
}

.header .menu > ul > li .sub-menu.mega-menu {
  margin-top: 22px !important;
}

.header .menu > ul > li .sub-menu.mega-menu:hover {
  margin-top: 5px;
}

.mobile-menu-head,
.mobile-menu-trigger {
  display: none;
}

.item-left {
  display: none;
}

/*responsive*/
@media (max-width: 991px) {
  .header .item-center {
    order: 3;
    flex: 0 0 95%;
  }

  .menu_item-has_children_btn {
    border: none !important;
    padding: 0 !important;
    background: none;
    line-height: 50px !important;
    margin-left: 0px !important;
  }

  .header .menu > ul > li .sub-menu {
    outline-offset: none;
  }

  .menu_item-has_children_btn a {
    color: var(--black) !important;
  }

  .header .menu > ul > li:nth-child(3) {
    margin-left: 0px !important;
  }

  .header .menu > ul > li:nth-child(4) {
    margin-left: 0px !important;
  }

  .header .menu > ul > li:nth-child(5) {
    margin-left: 0px !important;
  }

  .header .menu > ul > li:nth-child(6) {
    margin-left: 0px !important;
  }

  .header .item-left,
  .header .item-right {
    flex: 5% 0 auto;
  }

  .item-left {
    display: block;
  }
  .v-center {
    justify-content: space-between;
  }
  .header .mobile-menu-trigger {
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .header .mobile-menu-trigger span {
    display: block;
    height: 2px;
    background-color: #333333;
    width: 24px;
    position: relative;
  }
  .header .mobile-menu-trigger span:before,
  .header .mobile-menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
  }
  .header .mobile-menu-trigger span:before {
    top: -6px;
  }
  .header .mobile-menu-trigger span:after {
    top: 6px;
  }
  .header .item-right {
    align-items: center;
  }

  .header .menu {
    position: fixed;
    width: 320px;
    background-color: #ffffff;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    transform: translate(-100%);
    transition: all 0.5s ease;
    z-index: 1099;
  }
  .header .menu.active {
    transform: translate(0%);
  }
  .header .menu > ul > li {
    line-height: 1;
    margin: 0;
    display: block;
  }
  .header .menu > ul > li > a {
    line-height: 50px;
    height: 50px;
    padding: 0 50px 0 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header .menu > ul > li > a i {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    transform: rotate(-90deg);
  }
  .header .menu .mobile-menu-head {
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 501;
    position: sticky;
    background-color: #ffffff;
    top: 0;
  }
  .header .menu .mobile-menu-head .go-back {
    height: 50px;
    width: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 16px;
    display: none;
  }
  .header .menu .mobile-menu-head.active .go-back {
    display: block;
  }
  .header .menu .mobile-menu-head .current-menu-title {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }
  .header .menu .mobile-menu-head .mobile-menu-close {
    height: 50px;
    width: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 25px;
  }
  .header .menu .menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header .menu > ul > li .sub-menu.mega-menu,
  .header .menu > ul > li .sub-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    box-shadow: none;
    margin: 0;
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    max-width: none;
    min-width: auto;
    display: none;
    transform: translateX(0%);
    overflow-y: auto;
  }
  .header .menu > ul > li .sub-menu.active {
    display: block;
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes slideRight {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  .header
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-4
    > .list-item.text-center
    .title {
    margin-bottom: 20px;
  }
  .header
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-4
    > .list-item.text-center:last-child
    .title {
    margin-bottom: 0px;
  }

  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
    flex: 0 0 100%;
    padding: 0px;
  }

  .header .menu > ul > li .sub-menu > ul > li > a,
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    display: block;
  }

  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
    margin-bottom: 15px;
  }

  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }

  .navbar_side {
    margin-left: 0px !important;
  }
}

/* Navbar End */

/* Footer Start */
#footer {
  background: url(../image/home-all-image/footer_image/footer_image_01.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0 20px 0;
}

.footer_main_logo {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  /* margin-bottom: 40px; */
}

.footer_main_logo img {
  width: 100%;
  height: 100%;
}

.footer_content_menu_heading h1 {
  text-align: center;
  font-size: 25px;
  color: var(--black);
  padding-bottom: 30px;
  padding-top: 30px;
}

.footer_content_wrapper_menu {
  display: flex;
  gap: 20px;
}

.footer_content_wrapper_menu:nth-last-child(4) {
  padding-top: 15px;
}
.footer_content_wrapper_menu:nth-last-child(3) {
  padding-top: 15px;
}
.footer_content_wrapper_menu:nth-last-child(2) {
  padding-top: 15px;
}
.footer_content_wrapper_menu:nth-last-child(1) {
  padding-top: 15px;
}

.footer_content_wrapper_img {
  width: 20px;
  height: 20px;
}

.footer_content_wrapper_address span {
  font-family: var(--secondary-font);
}

.footer_menu_items span a {
  font-family: var(--secondary-font);
}

.footer_content_wrapper_img img {
  width: 100%;
  height: 100%;
}

.footer_content_wrapper_menu span a {
  color: rgba(163, 163, 163, 1);
  font-family: var(--secondary-font);
}

.footer_content_wrapper_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_content_wrapper_address {
  display: flex;
  gap: 15px;
}

.footer_content_wrapper_address span a {
  color: rgba(163, 163, 163, 1);
  font-family: var(--secondary-font);
}

.footer_menu_item_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}

.footer_menu_items a {
  display: flex;
  width: 40px;
  height: 40px;
  border: var(--secondary-border);
  justify-content: center;
  align-items: center;
  line-height: 40px;
  border-radius: 50%;
  transition: 0.5s ease;
}

.footer_menu_items a i {
  font-size: 20px;
}

.footer_menu_items a:hover {
  background: var(--primary-color);
}

.footer_menu_items a:hover .fa-brands {
  color: var(--white) !important;
}

.copy_right {
  border-top: var(--primary-border);
  width: 100%;
}

.copy_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.copy_right_card {
  height: 30px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.copy_right_text a {
  font-size: 16px;
  color: rgba(163, 163, 163, 1);
  font-family: var(--secondary-font);
}

.copy_right_card img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  #footer {
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  #footer {
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .footer_content_menu_heading h1 {
    text-align: start;
  }

  .footer_content_wrapper_box {
    justify-content: start;
  }

  .footer_menu_item_list {
    justify-content: start;
  }

  .copy_right {
    flex-direction: column;
  }
}
/* Footer End */
