/* Fonts Link Start */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Fonts Link End */

/* Universal Start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f59305;
  --secondary-color: #36bd64;
  --black: #000000;
  --white: #ffffff;
  --primary-font: "Righteous";
  --secondary-font: "Raleway";
  --primary-border: 1px solid #36bd64;
  --secondary-border: 1px solid #f59305;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
}

p {
  font-family: var(--secondary-font);
}

/* Universal End */

/* Hero  Start */
#shop_hero {
  background: url(../image/shop-all-image/hero_image/shop_hero_image_01.png);
  width: 100%;
  height: 55vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.shop_hero_heading {
  padding-top: 20vh;
}

.shop_hero_heading h1 {
  font-size: 50px;
  color: var(--white);
}

.shop_hero_heading p {
  font-size: 16px;
  color: var(--white);
}

@media screen and (max-width: 992px) {
  .shop_hero_heading h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 778px) {
  .shop_hero_heading h1 {
    font-size: 30px;
  }
  .shop_hero_heading p {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .shop_hero_heading h1 {
    font-size: 22px;
  }
  .shop_hero_heading p {
    font-size: 12px;
  }
}
/* Hero  End */

/* Page Information Start  */
.page_information {
  padding: 20px 0 50px 0;
}

.page_information_content a {
  color: var(--black);
  font-weight: 500;
  font-family: var(--secondary-font);
  font-size: 20px;
}

.page_information_content a:nth-child(2) {
  margin-left: 3px;
}

.page_information_content a:nth-child(3) {
  margin-left: 3px;
}

.page_information_content a:nth-child(2) svg {
  width: 10px !important;
}
/* Page Information End */

/* Special Offers Stat */
#Special_offer {
  padding: 40px 0;
}

.special_offer_heading {
  margin-top: 30px;
  text-align: center;
  align-items: center;
}

.special_offer_heading h1 {
  font-size: 38px;
}

.special_offer_heading p {
  font-size: 16px;
  font-family: var(--secondary-font);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Special_offer_wrapper {
  position: relative;
  width: 100%;
  height: 570px;
}

.special-offer_img img {
  max-width: 100%;
}

.card_slider {
  padding: 50px 25px;
}

.swiper-button-next {
  left: 96%;
}

.swiper-button-next::after {
  width: 45px;
  height: 45px;
  background: var(--white);
  position: absolute;
  border: var(--secondary-border);
  top: 20px;
  border-radius: 50px;
  font-size: 25px !important;
  padding: 0 !important;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  transition: 0.5s ease;
}

.swiper-button-prev {
  right: -66% !important;
}

.swiper-button-prev::after {
  width: 45px;
  height: 45px;
  background: var(--white);
  position: absolute;
  border: var(--secondary-border);
  top: 20px;
  border-radius: 50px;
  font-size: 25px !important;
  padding: 0 !important;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  transition: 0.5s ease;
}

.special-offer-card {
  background: var(--white);
  width: 100%;
  height: 100%;
  position: relative;
  border: var(--primary-border);
  padding: 20px;
  transition: 0.5s ease;
}
.special_offer_overlay,
.special-offer-card:hover {
  border: 1px solid #fff;
}

.special_offer_imgs {
  position: absolute;
  top: 20px;
  left: 0;
}

.special_offer_imgs h1 {
  padding: 7px 10px;
  background: var(--secondary-color);
  font-size: 14px;
  color: var(--white);
}

.special_offer_img img {
  width: 140px;
  display: block;
  margin: auto;
  padding-bottom: 30px;
}

.special-offer-card_text h1 {
  font-size: 20px;
  margin-top: 15px;
  padding-bottom: 20px;
}

.special_offer_overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  opacity: 0;
  padding-top: 27vh;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.special_offer_overlay a {
  display: block;
  width: 160px;
  height: 40px;
  background: var(--primary-color);
  color: var(--white);
  margin: auto;
  padding-top: 5px;
  font-size: 16px;
  border: var(--secondary-border);
  border-radius: 5px;
  font-family: var(--primary-font);
  transition: 0.3s ease;
}

.special_offer_overlay a:nth-child(2) {
  margin-top: 10px !important;
}

.special_offer_overlay:hover {
  opacity: 1;
}

.special_offer_overlay a:hover {
  background: rgba(209, 124, 0, 1);
  color: var(--white);
  border: 1px solid rgba(209, 124, 0, 1);
}
.special-offer-card_btn a {
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-weight: 500;
  display: inline-block;
  margin-bottom: 20px;
}

.special-offer-card_btn p {
  font-size: 15px;
}

@media screen and (max-width: 991px) {
  .card_slider {
    padding: auto;
  }
  .swiper-button-next {
    left: 95%;
  }
}

@media screen and (max-width: 767px) {
  .card_slider {
    padding: 50px 20px;
  }
  .swiper-button-next {
    left: 93%;
  }
}

@media screen and (max-width: 575px) {
  .special_offer_heading h1 {
    font-size: 30px;
  }

  .special_offer_heading h1 span:nth-child(2) {
    font-size: 22px !important;
  }
}

/* Special Offers End */
